.p1 {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.p1Text {
    width: 65%;
}

.p1Title {
    font-size: 50px;
    font-weight: 600;
}
 
.p1Desc {
    margin: 20px 0;
}

.p1List {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .p1 {
        padding: 10px;
    }

    .p1Text {
        width: 100%;
    }

    .p1Desc {
        display: none;
    }
}