.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.aLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.aRight {
    flex: 1;
}

.aCard { 
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
}

.aImg {
    background-color: rgb(122, 122, 122);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.aCard.aBg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.aTitle {
    font-weight: 400;
}

.aSub {
    margin: 20px 0px;
}

.aDesc {
    font-weight: 300;
}

@media screen and (max-width: 480px) {
    .a  {
        flex-direction: column;
        text-align: center;
        margin-top: 50px
    }

    .aTitle {
        margin-top: 10px;
    }

    .aLeft  {
        width: 100%;        
    }
    
    .aCard  {
        height: 30vh; 
    }

    .aCard.aBg  {
        display: none;
    }

    .aRight {
        padding: 20px;
        
    }
}