.content-bar{
background-color: transparent; 
}

.bar{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px; 
}
.bar li{
  display: inline-flex;
  float: right;
}
.bar li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 12px 20px;
 
}
.bar span{
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  
}

.content-bar .bar li a:hover{
  font-size: 25px;
}

.tarjeta1{
  grid-area: tarjeta1;
}
.tarjeta2{
  grid-area: tarjeta2;
}

.contenido{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "tarjeta1 tarjeta2 tarjeta3"
  "contact contact contact";
  width: 100%;
  max-width: 100%;
  grid-gap: 10px;
}

.header{
  width: 100%;
}

.content-header{
  background-image: url("https://i.pinimg.com/736x/9b/43/a5/9b43a523cd7cb179c2ac864a73d1dedb.jpg");
  padding: 15px 10px;
  color: rgb(255, 255, 255);
  margin: 0;
}
.content-header h1{
  
  margin: 0;
}

.tarjetas{
  width: 50px;
  color: rgb(0, 0, 0);
  
  border-bottom: 4px solid rgb(51, 56, 83);
  background-color: rgba(255, 255, 255, 0.603);
  box-shadow: 3px 10px 8px rgb(116, 116, 116);
  border-radius: 8px; 
}

.tarjeta3 a{
  color: rgb(68, 68, 68);
  float: right;
  margin: 0px 20px 20px;
  text-decoration: none;
}
.tarjeta3 a:hover{
  color: black;
}

.tarjeta{
  text-align: center;
  width: 100%;
}
.tarjeta p{
  text-align: justify;
  padding: 0px 15px;
}
.tarjeta:hover{
  border-bottom: 4px solid green;
}

.images-tarjeta{
  display: grid;
  grid-column: 50% 50%;
  grid-template-areas: 
  "img1 img2" 
  "img3 img4";
  justify-content: center;
  
}
.images-tarjeta img{
  width: 80px;
  margin: 15px;
}





@media (max-width: 900px){
  .contenido{
    grid-template-columns: 100%;
    grid-template-areas: "tarjeta1" "tarjeta2" "tarjeta3";
    grid-gap: 20px;
  }

  .tarjeta p{
    text-align: justify;
    padding: 0px 15px;
  }
  .tarjeta3 a{
    color: rgb(68, 68, 68);
    float: right;
    margin: 0px 20px 20px;
  }
  .images-tarjeta{
    display: grid;
    grid-column: 25% 25% 25% 25%;
    grid-template-areas: "img1 img2 img3 img4";
    justify-content: center;
    
  }
  .images-tarjeta img{
    width: 80px;
    margin: 15px;
  }

}

/* @media (min-width: 1400px) {
  .contenido{
    grid-template-columns: 100%;
    grid-template-areas: "tarjeta1 tarjeta2 tarjeta3";
    grid-gap: 20px;
  }
} */




